<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">

    <title>Hello, world!</title>
  </head>
  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a href="#" class="navbar-brand">
          <img src="images/logo1.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong>Wings</strong>
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>

      
    </ul>
    
  </div>   
</nav>

<div class="jumbotron jumbotron-1 text-center">
  <h1 class="display-4 font-weight-bold">Mega-Hack</h1>
  <p class="test text-truncate d-block">
  		Join your local tech community & 200+ other communities around <br> the world for a global 12-hour hackathon & celebration of learning, <br> building, & sharing on December 1st, 2018.
 	</p>
  <hr class="my-4 mr-5 ml-5">
  <p>This winter <strong>Mega-hack</strong> is coming to your City..</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 standard-props">
			<div class="d-flex flex-column text-center text-lg-left">
				<h2 class="font-weight-bold mb-4 ">What is Mega-hack?</h2>	
				<p class="text-justify  mr-lg-5 ">Join us on December 1st, 2018 for MLH's Local Hack Day, a global hackathon and celebration of learning, building, and sharing! Whether you're a first timer who is learning to program or you go to hackathons every weekend, everyone is welcome to participate!
				This is MLH's 5th year organizing Local Hack Day. In 2017, the event brought out more than 6,000 participants across 34 countries and 236 cities around the world. This year's event is shaping up to be the biggest one yet!</p>

				<div class="jumbotron text-center">
  					<h1 class="display-5 font-weight-bold">Time-to-Event</h1>
  					
  					<div class="d-flex bd-highlight ">
  						<div class="p-2 mr-2 flex-fill bd-highlight bg-primary rounded">

  							<h1 class="display-4 text-white" id="days">0</h1>
  							<p class="lead text-white">Days</p>
  						</div>
  						<div class="p-2 mr-2 flex-fill bd-highlight bg-primary rounded">
  							<h1 class="display-4 text-white" id="hours">0</h1>
  							<p class="lead text-white">Hours</p>
  						</div>
						<div class="p-2 mr-2 flex-fill bd-highlight bg-primary rounded">
							<h1 class="display-4 text-white" id="mins">0</h1>
  							<p class="lead text-white">Minutes</p>
						</div>
						<div class="p-2 mr-2 flex-fill bd-highlight bg-primary rounded">
							<h1 class="display-4 text-white" id="secs">0</h1>
  							<p class="lead text-white">Seconds</p>
						</div>


  					</div>

  					<hr class="my-4 mr-5 ml-5">
  					<p class="text-uppercase"><strong>Limited Seats remaining</strong></p>
  					<a class="btn btn-primary btn-lg" href="#" role="button">Register Now</a>
				</div>


				<h2 class="font-weight-bold mt-5 mb-4 ">What is a hackathon?</h2>	
				<p class="text-justify  mr-lg-5">Hackathons are learning focused invention marathons where participants dream up fun, interesting projects and work in small teams to bring them to life over the course of the event.</p>
				<p class="text-justify  mr-lg-5">When you're not working on your project, there are plenty of other things to do like attending educational workshops, making friends, or showing off what you're learning or building. At Local Hack Day you can do these with other participants at your location or participants around the world at other locations!.</p>

			</div>
		</div>	
		<div class="col-sm-12 col-md-4">
			<div class="d-flex flex-column ">
				<div class="custom-box-styling pt-4 pb-4 pl-4 pr-4 mb-5">
					<button class="btn btn-primary text-uppercase font-weight-bold btn-block">Register</button>
				</div>
				<div class="custom-box-styling pt-4 pb-4 pl-4 pr-4">
					<h5 class="font-weight-bold">Date &amp; Time</h5>
					<h6 class="font-weight-bold text-muted">Event Start</h6>
					<h5 class="font-weight-bold">December 1st, 2018 <span class="text-muted">09:00 AM</span></h5>
				</div>

			</div>

		</div>	

	</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
